html {
    height: 100%;
    margin: auto;
    padding: 0;
    font-size: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: Tahoma;
    border: 0;
    background: #1D1F21;
    background-size: contain;
}

.clear {
    clear: both;
}

.highlite {
    color: #19db8c;
}

.center {
    /* Exact center
    Refer to https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}


main {
    display: inline-block;
    margin: auto;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background: url('');
    background-size: contain;
    background-repeat: no-repeat;
    
}

main nav {
    text-align: center;
}

main nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

main nav > ul > li {
    position: relative;
    margin: 10px 10px;
    display: inline-block;
}
main nav > ul > li > a {
    display: inline-block;
    min-width: 140px;
    color: #81A2BE;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 5px;
    border: 2px solid #373B41;
    outline: none;
    background: #1D1F21;
    transition: all 1s;
}

main nav > ul > li:hover > a {
    color: #19db8c;
    background: #989898;
    border-color: #989898;
}

main nav > ul > li > ul {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    border: 0 solid #373B41;
    transition: all 1s;
    z-index: 10;
}

main nav > ul > li:hover > ul {
    max-height: 200px;
    border: 1px solid #989898;
    transition: max-height 0.5s, border 1s;
}

main nav > ul > li > ul > li {
    display: block;
}

main nav > ul > li > ul > li > a {
    display: inline-block;
    width: 100%;
    color: #19db8c;
    text-decoration: none;
    padding: 5px 0;
    outline: 0;
    background: #1D1F21;
    transition: all 1s;
}

main nav > ul > li > ul > li > a:hover {
    color: #19db8c;
    background: #989898;
}
